<div class="saved-group">
    <button (click)="closeWindow()"
            class="close-button"
            color="warn"
            mat-raised-button>
        Закрыть
    </button>

    <button (click)="sendSavedData()"
            class="save-button"
            color="primary"
            mat-raised-button
    >Отправить изменения филиалам
    </button>

    <button (click)="approveSavedData()"
            class="save-button"
            color="accent"
            mat-raised-button>
        Принять изменения
    </button>
</div>
