<div class="saved-group">
    <button
        id="close-button"
        (click)="closeWindow()"
        class="close-button"
        color="warn"
        mat-raised-button
        [disabled]="bridgeService.IsCloseButtonDisabled$ | async">
        Закрыть
    </button>

    <button
        id="save-change-data-filial-button"
        (click)="sendSavedData()"
        class="save-button"
        color="primary"
        mat-raised-button
        [disabled]="bridgeService.IsSaveButtonDisabled$ | async"
    >Отправить изменения филиалам
    </button>

    <button
        id="approve-change-button"
        (click)="approveSavedData()"
        class="save-button"
        color="accent"
        mat-raised-button
        [disabled]="bridgeService.IsApproveButtonDisabled$ | async">
        Принять изменения
    </button>
</div>
