<ng-container *ngIf="data.Type === DialogTypeEnum.SAVED_DIALOG">
    <h1 mat-dialog-title>Внимание</h1>
    <div mat-dialog-content>
        Есть не согласованные Визы. Вы действительно хотите отправить изменения?
    </div>
    <div mat-dialog-actions>
        <button
            (click)="onNoClick()"
            mat-button>
            Нет
        </button>
        <button (click)="onYesClick()"
                mat-button>
            Да
        </button>
    </div>
</ng-container>
<ng-container *ngIf="data.Type=== DialogTypeEnum.CLOSED_DIALOG">
    <h1 mat-dialog-title>Внимание</h1>
    <div mat-dialog-content>
        Есть не сохраненные данные, что вы желаете сделать?
    </div>
    <div mat-dialog-actions>
        <button
            (click)="onCloseClick()"
            [matTooltipPosition]="position.value!"
            mat-button
            matTooltip="Закрытие таблицы без сохранения изменений">
            Не сохранять
        </button>
        <button (click)="onSaveAndSendClick()"
                [matTooltipPosition]="position.value!"
                mat-button
                matTooltip="Отправка изменений в CRM">
            Сохранить и отправить
        </button>
        <button (click)="onSaveClick()"
                [matTooltipPosition]="position.value!"
                mat-button
                matTooltip="Сохранение состояния таблицы">
            Сохранить
        </button>
    </div>
</ng-container>
