<ng-container *ngIf="data.Type === DialogTypeEnum.SAVES_DIALOG">
    <h1 mat-dialog-title>Внимание</h1>
    <div mat-dialog-content>
        Есть не согласованные Визы. Вы действительно хотите отправить изменения?
    </div>
    <div mat-dialog-actions>
        <button
            (click)="onNoClick()"
            mat-button>
            Нет
        </button>
        <button (click)="onYesClick()"
                mat-button>
            Да
        </button>
    </div>
</ng-container>
<ng-container *ngIf="data.Type=== DialogTypeEnum.CLOSED_DIALOG">
    <h1 mat-dialog-title>Внимание</h1>
    <div mat-dialog-content>
       Есть не сохраненные данные, что вы желаете сделать?
    </div>
    <div mat-dialog-actions>
        <button
            (click)="onNoClick()"
            mat-button
            matTooltip="Сохраняет состояние таблицы, не передавая измененные данные в CRM"
            [matTooltipPosition]="position.value!">
            Сохранить
        </button>
        <button (click)="onYesClick()"
                mat-button
                matTooltip="Принять изменения и отправить их Визу"
                [matTooltipPosition]="position.value!">
            Принять изменения
        </button>
        <button (click)="onYesClick()"
                mat-button
                matTooltip="Принять изменения и отправить их Филиалам"
                [matTooltipPosition]="position.value!">
            Отправить изменения по Филиламлам
        </button>
    </div>
</ng-container>
