<div class="creatio-component-container">
    <app-header-group-visa *ngIf="metaData" [metaData]="metaData"></app-header-group-visa>
    <app-header-container
        [Brand]="brand"
        [ICostVisaItems]="rowDataCostItem"
        [Year]="year"
        [summary-data]="summaryData"></app-header-container>
</div>
<div style="height: 75%; box-sizing: border-box;">
    <ag-grid-angular
        (cellEditingStarted)="onCellEditingStarted($event)"
        (cellEditingStopped)="onCellEditingStopped($event)"
        (cellValueChanged)="onCellValueChanged($event)"
        (gridReady)="onGridReady($event)"
        (rowEditingStarted)="onRowEditingStarted($event)"
        (rowEditingStopped)="onRowEditingStopped($event)"
        (columnMoved)="onColumnMoved($event)"
        (columnVisible)="onColumnVisible($event)"
        (columnResized)="onColumnResized($event)"
        (sortChanged)="onSortChanged($event)"
        [animateRows]="true"
        [autoGroupColumnDef]="autoGroupColumnDef"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [enableCellChangeFlash]="true"
        [enableGroupEdit]="true"
        [frameworkComponents]="frameworkComponents"
        [rowData]="rowDataCostItem"
        [rowGroupPanelShow]="rowGroupPanelShow"
        [rowSelection]="rowSelection"
        [suppressRowClickSelection]="true"
        [valueCache]="true"
        class="ag-theme-alpine"
        style="width: 100%; height: 100%;"
    ></ag-grid-angular>
</div>
