<div class="creatio-component-container">
    <app-header-group-visa *ngIf="metaData" [metaData]="metaData"></app-header-group-visa>
    <app-saved-group-visa></app-saved-group-visa>
</div>
<ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [animateRows]="true"
    [rowData]="rowDataCostItem"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [rowSelection]="rowSelection"
    [suppressRowClickSelection]="true"
    [enableCellChangeFlash]="true"
    (firstDataRendered)="onFirstDataRendered($event)"
    (gridReady)="onGridReady($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
    (rowEditingStopped)="onRowEditingStopped($event)"
    (cellEditingStarted)="onCellEditingStarted($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
></ag-grid-angular>
