<div class="creatio-component-container">
    <app-header-group-visa *ngIf="metaData" [metaData]="metaData"></app-header-group-visa>
    <app-header-container
    [Brand]="brand"
    [Year]="year"
    [ICostVisaItems]="rowDataCostItem"
    [summary-data]="summaryData"></app-header-container>
</div>
<ag-grid-angular
    (cellEditingStarted)="onCellEditingStarted($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (gridReady)="onGridReady($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
    (rowEditingStopped)="onRowEditingStopped($event)"
    [enableGroupEdit] = "true"
    [animateRows]="true"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [domLayout]="domLayout"
    [enableCellChangeFlash]="true"
    [frameworkComponents]="frameworkComponents"
    [rowData]="rowDataCostItem"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [rowSelection]="rowSelection"
    [suppressRowClickSelection]="true"
    [groupIncludeTotalFooter]="true"
    class="ag-theme-alpine"
    style="width: 100%; height: 100%;"
></ag-grid-angular>


