@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: auto;
}

body {
    padding: 1rem;
    overflow: auto;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.number-cell {
    text-align: right;
}

.selection-positive {
    background: aquamarine;
}

.selection-negative {
    background: rgba(255, 51, 144, 0.32);
}
